/*购物车*/
.shopcart{
    height: 630px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.shopcart h3{
    font-size: 24px;
    color: #ff6700;
    text-indent: 20px;
    font-weight: 500;
}
.shopcart table{
    height: 500px;
    width: 1200px;
    text-align: center;
}
.shopcart table thead tr th{
    height: 60px;
    background-color: #f1f1f1;
}
/*结算*/
.shopcart .totalPrice{
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background-color:#f1f1f1;
    margin-top: 20px;
}
.shopcart .totalPrice span:first-of-type{
    margin-left: 100px;
}
.shopcart .totalPrice span:nth-child(3){
    margin-left: 443px;
}
.shopcart .totalPrice span:nth-child(4){
    margin-left: 50px;
}
.shopcart .totalPrice input{
    margin-left: 20px;
}
.shopcart .totalPrice button{
    height:60px;
    width:100px ;
    background-color: #ff6700;
    margin-left: 50px;
}
.shopcart table button{
    width: 20px;
    height: 20px;
}
.shopcart table input{
    width: 50px;
}